.cover
      .cover-inner
        header.inner
          .twisted
            .border-line
            h1.headline coming soon
            .border-line
          .inner
          p.p1 ONIKIO
          //- p.p2 Design Ultimate S/S 15
        //- .c
          p.co
            | contact: 
            a(href='mailto:') 


//- header#banner.hero-unit
//-   .container
//-     h1 'Allo, 'Allo!
//-     p.lead Kick-start your next web app with Angular Fullstack
//-     img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

//- .container
//-   .row
//-     .col-lg-12
//-       h1.page-header Features:
//-       ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in main.awesomeThings')
//-         li
//-           a(href='#', tooltip='{{thing.info}}')
//-             | {{thing.name}}
