.inputdemoIcons(layout='column', layout-padding='', ng-cloak='')
	br
	md-content.autoScroll
		form(name='emailForm')
			//- md-whiteframe.md-whiteframe-15dp(flex-sm="66" flex-gt-sm="35" flex-gt-md="75" layout="column" layout-align="center stretch")
			.form-group
				md-input-container.md-icon-float.md-block
					label Name
					md-icon.name
						i.material-icons.md-24.md-dark face
					input(ng-model='emailData.name', type='text')
			.form-group(ng-class="{ 'has-error': emailForm.email.$touched && emailForm.email.$invalid }")
				md-input-container.md-icon-float.md-block
					md-icon.name
						i.material-icons.md-24.md-dark email
					input(name='email' ng-model='emailData.email', type='email', placeholder='Email', ng-required='true')
					p.help-block(ng-show="emailForm.email.$error.required && emailForm.email.$touched") Email is required.
			.form-group
				md-input-container.md-icon-float.md-block
					md-icon.name
						i.material-icons.md-24.md-dark phone
					input(ng-model='emailData.phone', type='text', placeholder='Phone Number')
			.form-group(ng-class="{ 'has-error': emailForm.message.$touched && emailForm.message.$invalid }")
				md-input-container.md-icon-left.md-block
					md-icon.name
						i.material-icons.md-24.md-dark message
					textarea(name='message' ng-model="emailData.message" md-maxlength="500" rows="5" ng-required='true' md-select-on-focus placeholder='Message')
					p.help-block(ng-show="emailForm.message.$error.required && emailForm.message.$touched") Message is required.
			.md-block(layout='column' layout-align="center center" style='text-align: center;')
				//- .row(style='padding-left: 0;' ng-class="{ 'has-error' : emailForm.recaptcha.$invalid && submitted }")
					div#recaptcha(vc-recaptcha 
						key="'6LetuhkTAAAAAIPwA2MWqwQwufAo5l6uOg9IeI7w'"
						on-success="setResponse(response)")
					p(ng-show="!recaptchaSolved && submitted" class="help-block") This is required.
				.g-recaptcha(data-sitekey="6LetuhkTAAAAAIPwA2MWqwQwufAo5l6uOg9IeI7w")
			md-input-container.md-block(layout='column' layout-align="center center" style='text-align: center;')
				md-button#btnSendMessage.md-raised(ng-click='sendMessage()') 
					| Send Message
